
h1, h2, h3 {
	color: white !important;
}

h1,h2, h3{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

div#header{
	
	background : #8f8f8f url("../img/top-bars.png") no-repeat 90% 0;
}

div.leftContent{
	background : url("../img/logo.png") no-repeat -10px 0;
	padding-left: 155px;
	float : left;
}

div.rightContent{
	
	float : right;
	padding-top : 50px;
	
	
}
.clear {
	clear : both;
}

.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:left; }
* html .centered-pills ul.nav-pills { display:inline; } /* IE6 */
*+html .centered-pills ul.nav-pills { display:inline; } /* IE7 */

.nav-pills > li {
 border-right : 1px solid;
}

.nav-pills > li:last-child{
	border-right : 0px none;
}